<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.library_main">

    <application>
        <activity
            android:launchMode="singleTask"
            android:name=".MainActivity" />
        <activity android:name="com.tongdada.library_main.home.ui.IssueOrderActivity"></activity>
        <activity android:name="com.tongdada.library_main.home.ui.SearchCarActivity"></activity>
        <activity android:name="com.tongdada.library_main.order.ui.OrderDetailActivity"></activity>
    </application>

</manifest>